<%= form_for @person do |f| %>
 
    <% if @person.errors.any? %>
        <div id="error_explanation">
            <h2>
                <%= pluralize(@person.errors.count, "error") %> prohibited
                this person from being saved:
            </h2>
            <ul>
                <% @person.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
 
    <p>
        <%= f.label :name %><br>
        <%= f.text_field :name %>
    </p>
 
    <p>
        <%= f.label :weight %> in kg<br>
        <%= f.text_field :weight %>
    </p>
    
    <p>
        <%= f.label :height %> in cm<br>
        <%= f.text_field :height %>
    </p>
    
    <p>
        <%= f.label :red %> RGB value<br>
        <%= f.text_field :red %>
    </p>
    
    <p>
        <%= f.label :green %> RGB value<br>
        <%= f.text_field :green %>
    </p>
    
    <p>
        <%= f.label :blue %> RGB value<br>
        <%= f.text_field :blue %>
    </p>
    
    <p>
        <%= f.label :country %><br>
        <%= f.text_field :country %>
    </p>
    
    <p>
        <%= f.label :gender %><br>
        <%= f.text_field :gender %>
    </p>
    
    <p>
        <%= f.label :age %><br>
        <%= f.text_field :age %>
    </p>
    
    <p>
        <%= f.label :language %><br>
        <%= f.text_field :language %>
    </p>
 
    <p>
        <%= f.submit %>
    </p>
 
<% end %>