<h1>Displaying all people in Database</h1>
<br />


<!--
Thomas Plamondon (My brother) helped me out with getting the display to work
//-->
<div style="background-color:white">
    <% @people.each do |person| %>
        <div class="bar" style="background-color:rgb(<%= person.red.to_s+","+person.green.to_s+","+person.blue.to_s %>); width:<%= 3*person.weight %>px; height:<%= 3*person.height %>px;">
            <p><%= person.name %></p>
            <p><%= person.country %></p>
            <p><%= person.gender %></p>
            <p><%= person.age %></p>
            <p><%= person.language %></p>
        </div>
    <% end %>
</div>

<br />

<p>The colour of each bar represents the colour from the RGB values (red, green, blue) gotten from the user database</p>
<br />
<p>The height of each bar represents the perosn's height. The width of each bar represents the person's weight</p>

<br />

<%= link_to 'Back', people_index_path %>