<p>
    <strong>Name:</strong>
    <%= @person.name %>
</p>
 
<p>
    <strong>Weight:</strong>
    <%= @person.weight %>
</p>

<p>
    <strong>Height:</strong>
    <%= @person.height %>
</p>

<p>
    <strong>Red:</strong>
    <%= @person.red %>
</p>

<p>
    <strong>Green:</strong>
    <%= @person.green %>
</p>

<p>
    <strong>Blue:</strong>
    <%= @person.blue %>
</p>

<p>
    <strong>Country:</strong>
    <%= @person.country %>
</p>

<p>
    <strong>Gender:</strong>
    <%= @person.gender %>
</p>

<p>
    <strong>Age:</strong>
    <%= @person.age %>
</p>

<p>
    <strong>Language:</strong>
    <%= @person.language %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>