<p>
    <strong>Name:</strong>
    <%= @person.name %>
</p>
 
<p>
    <strong>Weight in kg:</strong>
    <%= @person.weight %>
</p>

<p>
    <strong>Height in cm:</strong>
    <%= @person.height %>
</p>

<p>
    <strong>Red value for rgb number:</strong>
    <%= @person.red %>
</p>

<p>
    <strong>Green value for rgb number:</strong>
    <%= @person.green %>
</p>

<p>
    <strong>Blue value for rgb number:</strong>
    <%= @person.blue %>
</p>

<p>
    <strong>Country:</strong>
    <%= @person.country %>
</p>

<p>
    <strong>Gender:</strong>
    <%= @person.gender %>
</p>

<p>
    <strong>Age:</strong>
    <%= @person.age %>
</p>

<p>
    <strong>Language:</strong>
    <%= @person.language %>
</p>

<%= link_to 'Edit', edit_people_path(@person) %> |
<%= link_to 'Back', people_path %>